.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfplan
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json